# Taps
tap "homebrew/bundle"
tap "homebrew/cask-versions"

# Due to reduced admin privileges, the default install location for casks
# is set to ~/Applications
cask_args appdir: "~/Applications"

# Brew extensions and helper
# Install applications from Mac App Store
brew "mas"

# Python
# This will create binaries with the suffix 3.12, e.g. python3.12 and pip3.12
# in order to avoid conflicts with any other installed python version
# You can create an alias in your shell configuration to use python3.12 as default
# e.g. in your .zshrc or .bashrc:
# alias python=python3.12
brew "python@3.12"

# ZON dev environment
brew "graphviz"
brew "nginx"
brew "libevent"
brew "libjpg"
brew "libmagic"
brew "libffi"
brew "libmemcached"
brew "webp"
brew "node"
brew "pkg-config"
brew "wget"
brew "kustomize"
brew "pre-commit"

# Browsers
# Firefox, maybe chose one
cask "firefox"
cask "firefox@nightly"
cask "firefox@developer-edition"

# chrome, maybe chose one
cask "google-chrome"
cask "google-chrome@canary"

# chromium is mandatory for testing purposes
cask "chromium"

# IDE/Editors
brew "vim"
cask "macvim"
cask "sublime-text"
cask "visual-studio-code"

# Version Control
brew "git"
brew "git-crypt"
brew "git-extras"
brew "git-trim"
brew "hub"
cask "sublime-merge"

# Documentation
brew "sphinx-doc"

# password managers
cask "keepassxc"
cask "1password" # can be provided by ZEIT IT

# useful mac software
cask "iterm2"
cask "warp" # an AI-enabled terminal
cask "alfred"
cask "appcleaner"
cask "bartender"
cask "colour-contrast-analyser"
cask "free-ruler"
cask "moom"
cask "the-unarchiver"
cask "openoffice"
cask "postgres-unofficial"
cask "figma"

# useful shell tools
brew "ack"
brew "httpie"
brew "ssh-copy-id"
brew "youtube-dl"
cask "ngrok"
brew "ffmpeg"
brew "imagemagick"
brew "kubernetes-cli"
brew "z"

# zsh shell
brew "zsh-completions"
brew "zsh-syntax-highlighting"

# Coding fonts
cask "font-ibm-plex-mono"
cask "font-input"
cask "font-fira-code"
